body{
	background: url('../images/background2.jpeg')no-repeat center center fixed;
};

.about-me {
	padding:0px;
}

.img-responsive{
	height: 300px;
	width: 400px;
}

.page-header{
	color: white;
}

.row{
	color:white;
	left:0px;
	bottom:0px;
}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 10px;
    color: white;
}

h1{
	text-align: center;
	color: white;
}

.nav-item:hover{
    background-color: #66ffff;
}

.nav-item>a:hover{
    color: white!important;
}

h4{
	text-indent: 50px;
}